@inherits LayoutComponentBase
@using EventMgr.Services;
@inject SessionState SessionState
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            @if (SessionState.IsLoggedIn)
            {
                <span class="mx-2">Welcome, @SessionState.UserName!</span>
                <button class="btn btn-link" @onclick="HandleLogout">Log Out</button>
            }
            else
            {
                <button class="btn btn-link" @onclick="HandleLogin">Log In</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void HandleLogout()
    {
        SessionState.LogOut();
        NavigationManager.NavigateTo("/");
    }
    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
